<header>

  <!-- Nav Bar -->
  <!-- <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}"> -->
  <div class="container">
    {% if page.title != "about" %}
    <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl | prepend: site.url }}/">
      {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
      {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </a>
    {% elsif site.enable_navbar_social %}
    <!-- Social Icons -->
    <div class="navbar-brand social">
      {% include social.html %}
    </div>
    {% endif %}
    <!-- Simple header with no navigation tabs -->
    {% if site.enable_darkmode %}
    <div class="toggle-container">
      <a id="light-toggle">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
      </a>
    </div>
    {% endif %}
    </ul>
  </div>
  </div>
  <!-- </nav> -->

</header>