---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
      {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
    <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %} mb-3">
      {% if page.profile.image %}
      {% responsive_image_block %}
      path: {{ page.profile.image | prepend: 'assets/img/' }}
      class: "img-fluid z-depth-1 rounded"
      alt: {{ page.profile.image }}
      {% endresponsive_image_block %}
      {% endif %}
      {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    <!-- {% if page.news %}
    {% include news.html %}
    {% endif %} -->

    {% if page.show_blog_posts %}
    <div class="blog-posts">
      <h2>Writing</h2>

      <!-- ML Section -->
      <div class="blog-section">
        <h3 class="section-title">Research</h3>
        <div class="post-cards">
          {% for post in site.posts %}
          {% if post.path contains 'WIP' %}
          {% continue %}
          {% endif %}
          {% if post.categories contains 'interpretability' %}
          <div class="post-card">
            <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
            <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
            <p class="post-excerpt">{{ post.description }}</p>
            <!-- <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read more</a> -->
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>